.questions {
  display: flex;
  justify-content: space-between;
  //align-items: center;
  width: 90%;
  margin: 0 auto;
  .left_content{
    .logo_faq {
      display: flex;
      width: 50vw;
      height: auto;
    }
  }
  .right_content{
    width: 100%;
    .box {
      padding: 20px;
      .question_content {
        cursor: pointer;
        margin-bottom: 15px;
        border: 1px solid #1b8f32;
        background-color: var(--boxColor);
        padding: 10px;
        border-radius: 5px;
        /*height: fit-content;
        transition: 0.8s ease;*/
        .question{
          width: 100%;
          display: flex;
          cursor: pointer;
          justify-content: space-between;
          color: var(--text_color);
          border-radius: 5px;
          p{
            margin: 0;
            font-weight: bold;
            font-size: 17px;
          }
          &_svg{
            width: 24px;
            height: 24px;
          }
        }
        .answer {
          margin-top: 0;
          p{
            color: var(--text_color);
            margin: 10px 0 5px 0;
          }
        }
      }
    }
  }
}

@media(max-width: 992px){
  .questions{
    align-items: center;
    flex-direction: column;
    .logo_faq{
      width: 100%;
    }
  }
}
@media(max-width: 480px){
  .question{
    p{
      font-size: 4vw !important;
    }
  }
  .answer {
    p{
      font-size: 3vw;
    }
  }
}

