/**{
  box-sizing: border-box;
}*/
.for_whom{
  display: flex;
  justify-content: center;
  align-self: center;
  margin-bottom: 100px;
  width: 100%;
  &_media{
    display: flex;
    width: 100%;
    flex-direction: column;
    .for_whom_text{
      h1{
        color: var(--text_color);
      }
    }
    .for_whom_blocks{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .block{
        width: 240px;
        display: flex;
        flex-direction: column-reverse;
        border-radius: 25px;
        //padding: 28px;
        padding: 28px 40px 28px 40px;
        .arrow_block{
          margin-top: 30px;
        }

        .block_img{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          .img_bg{
            box-shadow: 0 2px 0 #ebebeb;
            //padding: 10px;
            border-radius: 50px;
            width: 48px;
            height: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #FFFFFF;
            img{
              width: 30px;
              height: 30px;
            }
          }
        }
        h4{
          font-size: 26px;
          color: var(--text_color);
        }
        background-color: var(--header_color);
      }
    }
  }
}

@media (min-width: 576px) {
  .for_whom_media {
    max-width:540px;
  }
}

@media (min-width: 768px) {
  .for_whom_media {
    max-width:720px;
  }
}

@media (min-width: 992px) {
  .for_whom_media {
    max-width:960px;
  }
}

@media (min-width: 1200px) {
  .for_whom_media {
    max-width:1140px;
    .block{
      width: 180px !important;
    }
  }
}

@media (min-width: 1400px) {
  .for_whom_media {
    max-width:1320px;
    .block{
      width: 200px !important;
    }
  }
}
@media(max-width: 1200px){
  .for_whom_blocks{
    padding: 20px;
    /*display: grid !important;
    grid-template-columns: 50% 50%;
    grid-gap: 30px;*/
    flex-wrap: wrap;
  }
  .block{
    align-self: center;
    width: 35% !important;
    align-items: center;
    margin-bottom: 35px;
    .block_img{
      width: 250px;
    }
  }
}
@media(max-width: 992px){
  .block{
    //width: 280px !important;
  }
}
@media(max-width: 768px){
  .for_whom_blocks{
    justify-content: center;
    align-items: center;
    flex-direction: column !important;
    display: flex !important;
    padding: 20px;
    .block{
      padding: 28px 0 28px 0 !important;
      width: 100% !important;
      h4{
        align-self: center;
      }
      svg{
        align-self: center;
      }
    }
  }
  .for_whom_text{
    h1{
      font-size: 6vw;
    }
  }
}
@media(max-width: 576px){
  .for_whom_media{
    width: 90%;
  }
  .for_whom_blocks{
    h4{
      font-size: 4vw !important;
    }
  }
}
@media(max-width: 380px){
  .block{
    width: 80% !important;
  }
}