.collages{
  width: 90%;
  margin: 100px auto;
  /*display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 2vw;*/
}
.collage{
  color: var(--text_color);
  font-size: 1vw;
  padding: 1vw;
  border-radius: 1vw;
  transition: 0.3s ease;
  box-sizing: border-box;
  width: 300px;
  height: 300px;
  margin: 3vw;

  &:hover{
    background-color: var(--header_color);
    //border: 1px solid #1FA84F;
    box-shadow:
    0 0 32px #1FA84F;
  }
}
@media(max-width: 1200px){
  .collage{
    font-size: 1.1vw;
  }
}
@media(max-width: 992px){
  .collages{
    grid-template-columns: auto auto;
    grid-gap: 10vw;
    .collage{
      font-size: 1.5vw;
    }
  }
}
@media(max-width: 768px){
  .collages{
    grid-template-columns: auto;
    .collage{
      font-size: 2vw;
    }
  }
}


.slider-container {
  width: 90%;
  margin: 0 auto;
  padding: 1vw;
}

.slick-prev{
  display: none !important;
}
.slick-next{
  display: none !important;
}
.right_arrow, .left_arrow{
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}
.right_arrow_hide, .left_arrow_hide{
  position: absolute;
  top: 50%;
  display: none;
  width: 20px;
  height: 20px;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}
.left_arrow:before,
.right_arrow:before
{
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;

  opacity: .75;
  color: #1FA84F;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.left_arrow
{
  left: -25px;
}
[dir='rtl'] .slick-prev
{
  right: -25px;
  left: auto;
}
.left_arrow:before
{
  content: '←';
}
[dir='rtl'] .left_arrow:before
{
  content: '→';
}

.right_arrow
{
  right: -25px;
}
[dir='rtl'] .right_arrow
{
  right: auto;
  left: -25px;
}
.right_arrow:before
{
  content: '→';
}
[dir='rtl'] .right_arrow:before
{
  content: '←';
}