.pricing {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-bottom: 100px;
  overflow: hidden;

  &_media {
    width: 100%;
  }
}

.pricing_top {
  display: flex;
  justify-content: space-between;

  .pricing_top_btn {
    cursor: pointer;
    padding: 0 25px 0 25px;
    font-size: 16px;
    height: 40px;
    width: 270px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
    align-self: end;
    font-weight: 600;
    background-image: linear-gradient(90deg, rgb(34, 100, 23) 3%, rgb(11, 115, 53) 26%, rgb(7, 171, 1) 100%);
    border: none;
    color: white;
    transition: box-shadow 0.5s ease;

    &:hover {
      box-shadow: 0 0 22px #0B7335FF;
    }

    .gif {
      width: 40px;
      filter: brightness(100);
    }
  }
}

.pricing_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw;
  width: 100%;
  margin-top: 50px;
}

.overlays_box {
  cursor: pointer;
  display: flex;
  padding: 2vw;
  align-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--boxColor);
  border-radius: 3vw;
  transition: transform, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-15px);
    box-shadow: 0 0 22px #1FA84F;
  }
}

.overlays_box_3 {
  cursor: pointer;
  display: flex;
  padding: 3vw;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--black_color_pricing);
  border-radius: 3vw;
  transition: transform, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-15px);
    box-shadow: 0 0 22px #1FA84F;
  }
}

.under_head_pricing_3 {
  align-items: center;
  justify-content: center;
  font-size: 22px;
  margin: 0;
  color: var(--text_color_pricing);
}

.month_3 {
  align-items: center;
  justify-content: center;
  font-size: 21px;
  font-weight: bold;
  margin: 0;
  color: var(--text_color_pricing);
}

.under_description_pricing_3 {
  align-items: center;
  justify-content: center;
  width: 100%;
  display: flex;
  font-size: 22px;
  font-weight: inherit;
  border-bottom: 1px solid gray;
  margin-bottom: 2vh;
  color: var(--text_color_pricing);
}

.under_head_pricing {
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin: 0;
  color: var(--text_color);;
}

.month {
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  color: var(--text_color);
}

.under_description_pricing {
  align-items: center;
  justify-content: center;
  width: 100%;
  display: flex;
  font-size: 21px;
  font-weight: inherit;
  border-bottom: 1px solid gray;
  color: var(--text_color);
  margin-bottom: 2vh;
}


.demo_contacts_pricing {
  white-space: nowrap;
  background: #1FA84F;
  height: 55px;
  color: var(--buttton_text_color);
  cursor: pointer;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  padding: 8px 25px;
  position: relative;
  overflow: hidden;
  justify-content: center;
  letter-spacing: .5px;
  //outline: none;
  transition: 0.8s all ease;
  z-index: 1;

  &:hover {
    color: var(--text_color);
    background: #EFF0EF;
    border: 1px solid #1FA84F;
  }
}

.demo_contacts_pricing::before {
  background: var(--header_color);
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transition: all 0.6s ease;
  width: 100%;
  height: 0;
  transform: translate(-50%, -50%) rotate(45deg);
}

.demo_contacts_pricing:hover::before {
  height: 550%;
}

.demo_contacts_pricing_main {
  white-space: nowrap;
  background: #1FA84F;
  height: 55px;
  color: var(--buttton_text_color);
  cursor: pointer;
  border-radius: 25px;
  border: none;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  padding: 8px 25px;
  position: relative;
  overflow: hidden;
  letter-spacing: .5px;
  outline: none;
  transition: 0.8s all ease;
  z-index: 1;

  &:hover {
    color: var(--text_color);
    background: #EFF0EF;
    border: 1px solid #1FA84F;
  }
}

.demo_contacts_pricing_main::before {
  background: var(--header_color);
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transition: all 0.6s ease;
  width: 100%;
  height: 0;
  transform: translate(-50%, -50%) rotate(45deg);
}

.demo_contacts_pricing_main:hover::before {
  height: 550%;
}

.pricing_text {
  h4 {
    color: #1FA84F;
    font-size: 20px;
  }

  h1 {
    color: var(--text_color);
    font-size: 45px;
  }

  p {
    color: var(--text_color);
    font-size: 16px;
  }
}

@media (min-width: 576px) {
  .pricing_media {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .pricing_media {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .pricing_media {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .pricing {
    margin-bottom: 50px;

    .pricing_media {
      max-width: 1140px;

      .overlays_box {
        width: 290px;
      }

      .overlays_box_3 {
        width: 300px;
      }
    }
  }
}

@media (min-width: 1400px) {
  .pricing {
    margin-bottom: 100px;

    .pricing_media {
      max-width: 1320px;

      .pricing_content {
        flex-direction: row;

        .overlays_box {
          width: 310px;
          transition: transform, box-shadow 0.3s ease;

          &:hover {
            transform: translateY(-20px);
            box-shadow: 0 0 22px #1FA84F;
          }
        }

        .overlays_box_3 {
          width: 340px;
          transition: transform, box-shadow 0.3s ease;
          border-radius: 40px;


          &:hover {
            transform: translateY(-20px);
            box-shadow: 0 0 22px #1FA84F;
          }
        }
      }
    }
  }
}

@media(max-width: 1200px) {
  .pricing {
    margin-bottom: 50px;

    .pricing_media {
      .pricing_content {
        padding: 0;
        flex-direction: column;

        .overlays_box {
          width: 95%;
          margin-bottom: 50px;
          border-radius: 40px;



          &:hover {
            transform: scale(1.05);
          }
        }

        .overlays_box_3 {
          width: 95%;
          margin-bottom: 50px;
          border-radius: 40px;


          &:hover {
            transform: scale(1.05);
          }
        }
      }
    }
  }
}

@media(max-width: 768px) {
  .pricing_top {
    flex-direction: column;

    .pricing_top_btn {
      align-self: center;
    }
  }
  .pricing_text {
    h1 {
      font-size: 6vw;
    }

    h4 {
      font-size: 4vw;
    }

    p {
      font-size: 4vw;
    }
  }
  .overlays_box {
    height: 380px;
    margin-bottom: 30px !important;
  }
  .overlays_box_3 {
    height: 410px;
    margin-bottom: 30px !important;
  }
}

@media(max-width: 576px) {
  .pricing_media {
    width: 90%;
  }
}

@media(max-width: 480px) {
  .pricing {
    margin-bottom: 30px;
  }
  .demo_contacts_pricing_main{
    padding: 8px 25vw;
    justify-content: center;
  }
  .demo_contacts_pricing{
    padding: 8px 25vw;
    justify-content: center;
  }
}