.mobile_header {
	z-index: 3;
	margin: 0 auto;
	width: 100%;
    height: 35vw;
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
	border: 1px solid grey;
	position: fixed;
	top: 0;
	backdrop-filter: blur(10px);
	background-color: rgba(247, 248, 250, 0.7);
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1vw 1vw;
    transition: 0.3s ease;

	.left_side {
		display: flex;
		align-items: center;
		flex-direction: column;

		.logo {
			border: 1px solid #000000;
			border-radius: 0.5vw;
			padding: 1vw;
			cursor: pointer;
			//position: relative;
			width: 10vw;
			height: 1.5vw;
			position: fixed;
			left: 1vw;
			top: 1vw;
		}

		img {
			width: 10vw;
			position: fixed;
		}
        .nav_block{
          border-top: 1px solid gray;
          width: 100%;
          position: fixed;
          left: 0;
          top: 20%;
        }

		.nav__links {
			list-style: none;
			display: flex;
			font-size: 1vw;
            margin: 0;
            padding: 0;

			li {
				padding: 0 1.5vw;
                &:first-child{
                  margin-top: 1vw;
                }

				&:last-child {
					padding-right: 0;
                    margin-bottom: 0;
				}

				a {
					font-weight: 500;
					color: var(--text_color);
					text-decoration: none;
                    font-size: 2vw;

					&:hover {
						color: #3b9f46;
					}
				}
			}
		}
	}
	.right_side {
		position: fixed;
		display: flex;
		align-items: center;
		right: 1vw;
		top: 1vw;
		.demo {
			color: #ffffff;
			margin-left: 1vw;
			cursor: pointer;
			background-color: #3b9f46;
			border-radius: 1vw;
			border: none;
			font-size: 1.3vw;
			font-weight: 500;
			padding: 1vw;
			display: flex;
			align-items: center;
			flex-direction: row;
			height: fit-content;
		}
	}
}

.header {
	margin: 0 auto;
	width: 100%;
	height: 6vw;
	border: 1px solid #c8c8c8;
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
	position: fixed;
	z-index: 3;
	top: 0;
	backdrop-filter: blur(10px);
	background-color: rgba(247, 248, 250, 0.7);
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1vw 2.5vw;
    transition: 0.3s ease;
	.left_side {
		display: flex;
		align-items: center;
		.logo {
			border: 1px solid #000000;
			border-radius: 0.5vw;
			padding: 1vw;
			cursor: pointer;
			width: 10vw;
			height: 1.5vw;
            position: fixed;
            left: 1vw;
            top: 1vw;
		}
		img {
			width: 10vw;
			position: fixed;
		}
		.nav__links {
			list-style: none;
			display: flex;
			font-size: 1vw;
			li {
				padding: 0 1.5vw;

				&:last-child {
					padding-right: 0;
				}

				a {
					font-weight: 500;
					color: var(--text_color);
					text-decoration: none;
					transition: all 0.3s ease;

					&:hover {
						color: #4caf50;
					}
				}
			}
		}
	}
	.right_side {
		display: flex;
		align-items: center;
        position: fixed;
        right: 1vw;
        top: 1vw;
		.demo {
			color: #ffffff;
			margin-left: 1vw;
			cursor: pointer;
			background: linear-gradient(
				15deg,
				#4caf50,
				#2e8b57,
				#39c87e,
				#6ad782
			);
			border-radius: 1vw;
			border: none;
			font-size: 1.3vw;
			font-weight: 500;
			padding: 1vw;
			display: flex;
			align-items: center;
			flex-direction: row;
			height: fit-content;
		}
	}
}

%link-styles {
	list-style: none;
	height: 100%;
	padding: 0.5rem 1rem;
	font-weight: 600;
	cursor: pointer;

	a {
		text-decoration: none;
		color: currentColor;
	}
}

.nav-link {
	@extend %link-styles;
	margin-left: 2vw;
}

.drop-down li {
	@extend %link-styles;
}

.drop-down {
	position: absolute;
	margin: 0.5rem -0.5rem;
	background: rgb(240, 240, 240);
	color: black;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	border-radius: 0.5rem;
	font-size: 14px;
	display: none;
	border: 1px solid #e2dfdf;
	padding: 18px 24px 18px;
	margin-left: -25px;
	margin-top: 10px;
	line-height: 1.888em;

	li:hover {
		background: #e0e0e0;
		color: #7a7a7a;
		border-radius: 0.5rem;
	}
}
.location-line {
	width: 100%;
	height: 1px;
	background-color: #d2d2d7;
	margin-top: 8px;
	margin-bottom: 8px;
}

.nav-link:hover {
	background: #e0e0e0;
	border-radius: 0.5rem;
}


.services {
	/*&:hover {
		.drop-down{
			display: block;
			justify-content: center;
		}
	}*/

	a {
		display: flex;
		align-items: center;
		font-size: 1.2vw;
	}

	.dropdown-icon {
		position: relative;
		right: -5px;
		transform: rotate(0deg);
		transition: 0.3s ease-in-out all;
		display: flex;
		align-items: center;
		width: 1.5vw;
		fill: gray;
	}
}

.nav-links {
	margin: 0;
	padding: 0;
}
.language {
	height: fit-content;
}

input[type='checkbox'] {
	visibility: hidden;
	display: none;
}
.burger {
	margin: 0 0 0 1vw;
	display: none;
	width: 30px;
	height: 20px;
}
.bar {
	width: 30px;
	height: 20px;
	position: relative;
	cursor: pointer;
	display: flex;
	justify-content: center;
	padding: 0;
	span {
		height: 10px;
		margin: 0;
	}
	.middle {
		height: 4px;
		width: 30px;
		background-color: black;
		border-radius: 50px;
		position: absolute;
		transition: 0.3s ease;
	}
	.top {
		bottom: 0;
		height: 4px;
		width: 30px;
		background: black;
		border-radius: 50px;
		position: absolute;
		transition: 0.3s ease;
	}
	.bottom {
		top: 8px;
		height: 4px;
		width: 30px;
		background: black;
		border-radius: 50px;
		position: absolute;
		transition: 0.3s ease;
	}
}
input[type='checkbox']:checked ~ .bar .top {
	transform: rotate(-45deg);
	width: 30px;
	transform-origin: right;
	top: -2px;
}
input[type='checkbox']:checked ~ .bar .bottom {
	transform: rotate(45deg);
	width: 30px;
	transform-origin: right;
	top: 19px;
}
input[type='checkbox']:checked ~ .bar .middle {
	transform: translateX(20px);
	opacity: 0;
}
.show_menu {
	transition: 0.3s ease;
	.nav__links {
		display: flex;
		flex-direction: column;
		li {
          transition: 0.5s ease;
			margin-bottom: 3vw;
			a {
				font-size: 1vw;
			}
		}
	}
}
@media (max-width: 768px) {
	.navigation {
		position: absolute;
		top: -200px;
	}
	.burger {
		display: flex;
	}
}
