.footer {
  margin: 0 auto;
  width: 100%;
  top: 0;
  display: flex;
  z-index: -2;
  align-items: center;
  justify-content: center;
  background-color: var(--header_color);


  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(10px);
    box-sizing: border-box;
    justify-content: space-between;
    transition: 0.3s ease;
  }
}

.logo_footer {
  border-radius: 0.5vw;
  margin-top: 2%;
  padding: 1vw;
  filter: var(--logo_color);
  cursor: pointer;

}

.logo_footer img {
  width: 100px;
}
.footer_start_content{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid gray;
}
.footer_end_content{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  //padding: 0 5%;
}
.footer_media{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer__text p {
  font-size: 1em;
  margin-top: 10%;
  color: var(--text_color);
}
.footer__copyright p {
  font-size: 1em;
  display: flex;
  margin-top: 20px;
  color: var(--text_color);
}
.modal_prv_content{
  color: var(--text_color);
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}
@media (min-width: 576px) {
  .footer_media {
    max-width:540px
  }
}

@media (min-width: 768px) {
  .footer_media {
    max-width:720px
  }
}

@media (min-width: 992px) {
  .footer_media {
    max-width:960px
  }
}

@media (min-width: 1200px) {
  .footer_media {
    max-width:1140px
  }
}

@media (min-width: 1400px) {
  .footer_media {
    max-width:1320px
  }
}

@media(max-width: 576px){
  .footer_media{
    width: 90%;
  }
  .footer_start_content{
    p{
      font-size: 16px;
    }
  }
  .footer_media{
    flex-direction: column;
    p{
      font-size: 16px;
    }
  }
}
@media(max-width: 370px){
  .footer_start_content{
    p{
      font-size: 4vw;
    }
  }
  .footer_end_content{
    p{
      font-size: 4vw;
    }
  }
}
