@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body::-webkit-scrollbar {
    width: 0.5em;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--black_color_pricing);
    border-radius: 5px;
}

[data-theme='dark'] {
    transition: 0.3s ease-out;
    --body_background: #151515;
    --collage_shadow: #F8F6F4;
    --text_color: #bcbcbc;
    --text_color_pricing: #000;
    --header_color: rgb(30, 30, 30);
    --burger_color: #ebebeb;
    --logo_color: invert(0);
    --black_color_pricing: #FFFFFF;
    --buttton_text_color: #000000;
    --boxColor: #1e1e1e;
}

[data-theme='light'], :root {
    transition: 0.3s ease-out;
    --body_background: #F8F6F4;
    --collage_shadow: #151515;
    --text_color: #606060;
    --text_color_pricing: #FFFF;
    --header_color: rgb(239, 240, 239);
    --burger_color: #292836;
    --logo_color: invert(0);
    --black_color_pricing: #404040;
    --buttton_text_color: #FFFFFF;
    --boxColor: #eff0ef;
}

body {
    margin: 0;
    font-family: 'Outfit', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--body_background);
}

code {
    font-family: 'Outfit', sans-serif;
}
