
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

[data-theme='dark'] {
	--body_background: #282c34;
	--body_color: #1E1E1E;
	--text_color: #3b9f46;
	transition: 1s ease-out;
}
[data-theme='light'] {
	transition: 1s ease-out;
	--body_background: #F7F8FA;
	--body_color: rgb(240, 240, 240);
	--text_color: black;
}

body {
	margin: 0;
	font-family: 'Outfit', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--body_background);
}

code {
	font-family: 'Outfit', sans-serif;
}
