
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

[data-theme='dark'] {
	transition: 0.3s ease-out;
	--body_background: #151515;
	--body_color: #1E1E1E;
	--text_color: #bcbcbc;
	--header_color: rgb(30, 30, 30);
	--burger_color: #ebebeb;
	--logo_color: invert(0);
	--buttton_text_color: #000000;
	--boxColor: #1e1e1e;
}
[data-theme='light'], :root {
	transition: 0.3s ease-out;
	--body_background: #F8F6F4;
	--body_color: rgb(240, 240, 240);
	--text_color: #606060;
	--header_color: rgb(239, 240, 239);
	--burger_color: #292836;
	--logo_color: invert(0);
	--buttton_text_color: #FFFFFF;
	--boxColor: #eff0ef;
}

body {
	margin: 0;
	font-family: 'Outfit', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--body_background);
}

code {
	font-family: 'Outfit', sans-serif;
}
